.template {
  display: none;
  visibility: hidden;
}

.accordion-title {
  font-size: 1rem;
}

.status {
  font-size: 1.5rem;
}

.red {
  color: red;
}

.green {
  color: green;
}

textarea {
  font-family: monospace;
}
