h1 {
  margin-top: 1em;
}

textarea {
  font-family: monospace;
}

.template {
  display: none;
  visibility: hidden;
}

.accordion-title {
  font-size: 1rem;
}

.status {
  font-size: 1.5rem;
}

.red {
  color: red;
}

.green {
  color: green;
}

.validation-message {
  padding-top: 0.5em;
}
